body{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    
}
.chessbord{
    
    height: 400px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
   

}
.chessbord div{
    width: calc(100%/8);
    height: calc(120%/8);
     font-size: 50px;
    text-align: center;
    
}
.a{
    background-color: #f0d9b5;
   cursor: pointer;
   

}
.b{
    background-color: #b58863;
    cursor: pointer;
    

}